button,
    .button {
        padding: 6px;
        border-radius: 8px;
        border: none;
        font: inherit;
        background-color: @white-color;
        color: #0a0e17;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        font-weight: bold;
    }
    .button:hover {
        background-color: #0a0e17;
        color: @white-color;
    }
    .button-pink {
        color: @white-color;
        background: @accent-color;
    }
    .button-pink:hover {
        background: @accent-black-color;
    }
    .button-violet {
        color: @white-color;
        background-color: @violet-color;
    }
    .button-violet:hover {
        background-color: @violet-black-color;
    }

a.button {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
